@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #313338;
  color: #DBDEE1;
  font-family: 'gg sans', 'Noto Sans', Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #1e1f22; border-radius: 4px; }
